body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-color: #14131A;
  /* background-color: #8ec5fc; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: white;
}

/* Style the "Projects" section */
.projects {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  padding: 20px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px; /* Adjust the spacing between projects as needed */
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.project {
  color: black;
  background-color: white;
  /* background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
  flex: 1;
    border-radius: 15px;

  max-width: 265px;
  text-align: left;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
  transition: transform 0.2s ease-in-out;
}

.newPadding{
    padding: 25px;
}

/* Create a hover effect to lift the card slightly */
.project:hover {
  transform: translateY(-5px);
}

#tech {
  padding: auto;
  text-align: center;
  margin-top: 8px;
      border-radius: 50px;

}
#tech img {
  width: 55px;
  height: 55px;

}

.project-info {
  flex: 1;
  text-align: center;
}

.project-info img {
 border-top-left-radius: 15px; /* Set the border radius for the left top corner */
  border-top-right-radius: 15px; /* Set the border radius for the right top corner */
  height: 200px;
  width: 265px;
}

#bottom {
  margin-bottom: 5px;
}

.project-actions {
  display: inline-flex;
  /* flex-direction: column;
  justify-content: space-between; */
}

.project-actions img {
  width: 30px;
  height: 30px;
  margin-right: 10px; /* Add spacing between the icon and the text */
}

.project h3 {
  font-size: 1.5rem;
  margin-top: 0; /* Remove the default margin from the heading */
}

#zero-bottom {
  margin-bottom: 0;
}

.project p {
  margin: 10px 0;
  font-size: 15px;
  text-align: center;
}

#live {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  /* padding: 10px 41px; */
  border-radius: 5px;
  display: inline-flex; /* Display the link as a flex container */
  align-items: center; /* Center items vertically */
  text-align: center;
}
.project a {
  text-decoration: none;
  background-color: #1b1b1b;
  color: #fff;
  padding: 12px 8px;
  border-radius: 5px;
  display: inline-flex; /* Display the link as a flex container */
  align-items: center; /* Center items vertically */
  text-align: center;
  margin-left: 10px;
}
#pname {
  width: 147px;
  font-size: 20px;
  margin-left: 7px;
}
/* Style the hero section with a flexbox layout */

.hero {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative; /* Add relative positioning to the .hero container */
    overflow: hidden; /* Hide content outside the .hero div */

}

.hero::before { 
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%; /* Set the width to cover the entire .hero div */
  height: 100%; /* Set the height to cover the entire .hero div */
  background-image: url('./img/background1.png'); 
  background-size: cover; 
  background-position: center; 
  filter: blur(30px); 
  z-index: -1; 
    /* transform: rotate(180deg);  */

}
 

/* Style the image */
#profile {
  width: 150px;
  height: auto;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

/* @keyframes blink {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  }
} */

/* Style the hero content */
/* .hero-content {
  flex: 1;
  margin-left: 20px;
} */

/* Style the name */
/* .hero h1 {
  font-size: 2rem;
  margin: 0;
} */

/* Style the paragraph */
/* .hero p {
  max-width: 500px;
  font-size: 1.5rem;
} */

/* .hero .button {
  background-color: #1b1b1b;
  color: #fff;
  font-weight: 500;
  font-size: 1.5em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
} */
/* Style the hero container */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the left section containing the image and name */
.left-section {
  padding: 20px;
}

.right-section p {
  font-size: 15px;
}

/* Style the right section containing the paragraph */
.right-section {
  flex: 2; /* Take up two-thirds of the available space */
  padding: 20px;
}

/* Style the bottom section containing the buttons and social links */
.bottom-section {
  text-align: center;
  margin-top: 15px;
  flex: 0; /* Take up two-thirds of the available space */
}

.button2 {
  color: #fff; /* Set the button text color as needed */
  font-weight: 500;
  font-size: 1.5em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  background-color: #007bff;
}

.button:hover {
  background-color: #0056b3;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links a img {
  width: 45px;
  height: 45px;
  border: none;
  margin-right: 20px;
}

/* .button {
  background-color: #007bff;
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
} */

/* Style the "About Me" section */
.about {
  background-color: #f0f0f0; /* Set the background color as needed */
  text-align: center; /* Center align the content */
}

/* Style the "About Me" content */
.about-content {
  max-width: 800px; /* Set the maximum width of the content */
  margin: 0 auto; /* Center the content horizontally with margins on both sides */
}

/* Style the "About Me" heading */
.about h2 {
  font-size: 2.5rem; /* Increase the font size for the heading */
  color: #333; /* Set a slightly darker text color */
}

/* Style the "About Me" paragraph */
.about p {
  margin: 12px 0; /* Add spacing between the paragraph and the heading */
  font-size: 1.2rem; /* Set the font size for the paragraph */
}

/* Style the "View Resume" button */
.about .button {
  background-image: linear-gradient(135deg, #f97794 10%, #623aa2 100%);
  color: #fff; /* Set the button text color as needed */
  font-weight: 500;
  font-size: 1.5em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(88, 86, 86, 0.3); /* Transparent with alpha value */

  left: 0;
  width: 100%;
  z-index: 100; /* Set a high z-index value to keep it on top of other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for a nice effect */
  backdrop-filter: blur(10px); /* Add blur effect */
}
/* Remove list item (li) decorations */
nav ul,
.articles ul,
.projects ul {
  list-style: none;
  padding: 0;
  font-size: 20px;
}
.project-actions a {
  font-size: 13px;
}
.about {
  background-color: transparent;
}
.about p {
  font-size: 25px;
  font-weight: bold;
}

#b1 {
  font-size: 35px;
  font-weight: bold;
}
.center-icon {
  display: flex;
  align-items: center;
}

.center-icon img {
  width: 40px;
  /* Adjust the width as needed */
  height: 40px;
  /* Adjust the height as needed */
}

/* Style the navigation links and remove anchor tag decoration */
nav li,
.articles li {
  margin: 0 20px;
  /* Add spacing between menu items */
}

nav a,
.articles a {
  text-decoration: none;
  /* Remove anchor tag decoration */
  color: white;
  font-weight: 700;
  font-family: monospace;
  /* Set the anchor tag text color to black */
}

nav li {
  display: inline-block;
}

.custom-column {
  font-family:Arial, Helvetica, sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.custom-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (max-width: 768px) {
    .custom-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


.custom-heading {
  text-align: center;
    font-size: 1.25rem; /* Equivalent to text-xl in Tailwind */
    font-weight: 500;   /* Equivalent to font-medium in Tailwind */
    margin-top: 0.5rem;  /* Equivalent to mt-2 in Tailwind */
    color: #b3b3b3;      /* Equivalent to text-zinc-200 in Tailwind */
    margin-bottom: 1.25rem;  /* Equivalent to mb-5 in Tailwind */
}

.custom-subheading {
  text-align: center;
  font-weight: bold;
  padding: 10px;
    color: #3490dc;      /* Equivalent to text-primary in Tailwind */
    font-size: 1.125rem; /* Equivalent to text-lg in Tailwind */
    letter-spacing: 0.05em; /* Equivalent to tracking-wider in Tailwind */
}

.custom-card {
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    background-color: #282631;
    padding: 1rem;
    border-radius: 0.40rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.custom-tag {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.75rem; /* Equivalent to text-xs in Tailwind */
    color: white;     /* Equivalent to text-primary in Tailwind */
    background-color: #14131A; /* Equivalent to bg-body in Tailwind */
    border-width: 1px;
    border-color: #14131A ;
    border-style: solid;
    border-radius: 0.25rem;
}

.blue {
    border-color: #4299e1; /* Equivalent to border-blue-500 in Tailwind */
}

.emerald {
    border-color: #38a169; /* Equivalent to border-emerald-500 in Tailwind */
}

.pink {
    border-color: #de2688; /* Equivalent to border-emerald-500 in Tailwind */
}

.red {
    border-color: #e53e3e; /* Equivalent to border-red-500 in Tailwind */
}

.yellow {
    border-color: #f6e05e; /* Equivalent to border-yellow-500 in Tailwind */
}


#prevButton {
    background-color: #3490dc;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-width: 4px;
    border-color: #4a90e2;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#prevButton:hover {
    background-color: #4a90e2;
    border-color: #3490dc;
}

#nextButton {
    background-color: #3490dc;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-width: 4px;
    border-color: #4a90e2;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#nextButton:hover {
    background-color: #4a90e2;
    border-color: #3490dc;
}

.btnclass {
  padding:20px;
}